<nav class="flex space-btn pad1">
   <a href="/" class="link"> <h2>kārya(कार्य)</h2></a>
    <ul class="flex">
        <li><a href="/" class="link bold">Home</a></li>
        <li><a href="https://github.com/Sankalpa-Acharya/Karya" class="link bold">Contributions</a></li>
        <li><a href="https://github.com/Sankalpa-Acharya/Karya" class="link bold">Docs</a></li>

        <div class="buttons">
            <a href="{% url 'login' %}" class="link btn-sm">login</a>
            <a href="{% url 'singup' %}" class="link btn-transparent">singup</a>
        </div>
    </ul>
</nav>
