nav{
    height: 77px;
    border-bottom: 1px solid white;
}

main{
    min-height: calc(100vh - 77px);
    padding: 4rem 0;
    align-items: center;
    max-height: fit-content;

}

.card{
    background-color: var(--bg2);
    height: fit-content;
    width: 50%;
    border-radius: 10px;

}
span{
    margin-left: 7px;
}

.profile{
    align-items: center;
}