{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/home/login.css' %}">{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}

{% include 'include/home_navbar.html' %}

<div class="container">
    <h2>Login into your account</h2>
    <form action="" class="flex flex-col w-full center" novalidate method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="flex flex-col">
            {{field.label}}
            {{field}}

        </div>
        {% endfor %}

        {% if form.non_field_errors %}
        <span class="erros mb-1 w-23 ml-2">
            {{form.non_field_errors}}
        </span>
        {% endif %}

        <button class="btn">login</button>
    </form>
    <a href="{% url 'singup' %}" class="link mt-1">Create Account</a>

</div>


<!-- <script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const project_id = urlParams.get('project_id') || ' '
if(project_id!=' '){
    const input=document.querySelector('#project_id');
    input.setAttribute('disable','true')
    input.value=project_id
    input.disabled=true;
}



</script> -->
<div class="messages pad1">
    {% if messages %}
        {% for message in messages %}

            {% include 'include/alert.html' %}

        {% endfor %}
    {% endif %}
    </div>
{% endblock %}